<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/TableSort.js"></script>
<script type="text/javascript" src="../js/comweb12.js"></script>
<script type="text/javascript"> 
  function InitTable() {
    t = new Table(1,0,2,"100%","center",30,30);
    t.addColumn("Field Name","String",0,0,"left","","",15);
    t.addColumn("Field Description","String",1,1,"left","","",60);
    t.addColumn("Field Value","String",2,2,"left","","",60);
    AddTableRows();
    TableOutput(2,0);
  }
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable();">
<div id=HeadingSection>
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
<script type="text/javascript">

</script>
</span>
</div>

<div id=TableLocation></div>

<div id=PageBodySection></div>

<script type="text/javascript">
  function AddTableRows() {
    t.addRow("purno", "U/R #", "%COMWEB12.03.002");
t.addRow("purno", "U/R # (Old)", "%COMWEB12.03.003");
t.addRow("csalias", "Alias Status", "%COMWEB12.03.004");
t.addRow("ptitl", "Title", "%COMWEB12.03.006");
t.addRow("phosp", "Hospital in Last Twelve Months?", "%COMWEB12.03.007");
t.addRow("pldays", "No. Days Last in Hospital", "%COMWEB12.03.008");
t.addRow("pbdebt", "Bad Debtor", "%COMWEB12.03.009");
t.addRow("psname", "Surname", "%COMWEB12.03.010");
t.addRow("pgname", "Given Name", "%COMWEB12.03.011");
t.addRow("ppsname", "Previous Surname", "%COMWEB12.03.012");
t.addRow("padd1", "Address Line 1", "%COMWEB12.03.013");
t.addRow("padd2", "Address Line 2", "%COMWEB12.03.014");
t.addRow("psubrb", "Suburb", "%COMWEB12.03.015");
t.addRow("padd4", "Address Line 4", "%COMWEB12.03.016");
t.addRow("ppost", "Postcode", "%COMWEB12.03.017");
t.addRow("ptelep", "Home Telephone", "%COMWEB12.03.018");
t.addRow("pteleb", "Bus. Telephone", "%COMWEB12.03.019");
t.addRow("psex", "Sex", "%COMWEB12.03.020");
t.addRow("pmstat", "Marital Status", "%COMWEB12.03.021");
t.addRow("pbdate", "Date of Birth", "%COMWEB12.03.022");
t.addRow("pcont", "Country of Birth", "%COMWEB12.03.024");
t.addRow("preg", "Religion", "%COMWEB12.03.025");
t.addRow("ptype", "Patient Type", "%COMWEB12.03.026");
t.addRow("poccup", "Occupation", "%COMWEB12.03.027");
t.addRow("plddate", "Last Discharge Date", "%COMWEB12.03.028");
t.addRow("pmedi", "Medicare Number", "%COMWEB12.03.029");
t.addRow("ppenno", "Pension Number", "%COMWEB12.03.030");
t.addRow("ppndte", "Pension Expiry Date", "%COMWEB12.03.031");
t.addRow("prepat", "Repatriation Number", "%COMWEB12.03.032");
t.addRow("psmok", "Smoker", "%COMWEB12.03.033");
t.addRow("pmicro", "Microfilm Address", "%COMWEB12.03.035");
t.addRow("pcease", "Deceased", "%COMWEB12.03.036");
t.addRow("pcase", "Case Notes", "%COMWEB12.03.037");
t.addRow("pautopy", "Autopsy", "%COMWEB12.03.038");
t.addRow("phigh1", "Highlight Code 1", "%COMWEB12.03.039");
t.addRow("phigh2", "Highlight Code 2", "%COMWEB12.03.040");
t.addRow("phigh3", "Highlight Code 3", "%COMWEB12.03.041");
t.addRow("plocdoc", "Local Doctor", "%COMWEB12.03.042");
t.addRow("pfundh", "Health Fund", "%COMWEB12.03.043");
t.addRow("pfndtb", "Health Fund Table", "%COMWEB12.03.044");
t.addRow("pfndmm", "Health Fund Membership No", "%COMWEB12.03.081");
t.addRow("pusr1", "User Defined Field 1", "%COMWEB12.03.046");
t.addRow("pusr2", "User Defined Field 2", "%COMWEB12.03.047");
t.addRow("pusr3", "User Defined Field 3", "%COMWEB12.03.048");
t.addRow("pusr4", "User Defined Field 4", "%COMWEB12.03.049");
t.addRow("pusr5", "User Defined Field 5", "%COMWEB12.03.050");
t.addRow("pusr6", "User Defined Field 6", "%COMWEB12.03.051");
t.addRow("puyn1", "User Defined Y/N Field 1", "%COMWEB12.03.052");
t.addRow("puyn2", "User Defined Y/N Field 2", "%COMWEB12.03.053");
t.addRow("puyn3", "User Defined Y/N Field 3", "%COMWEB12.03.054");
t.addRow("pyrres", "Number of Years Resident", "%COMWEB12.03.055");
t.addRow("pnkname", "Next of Kin Name", "%COMWEB12.03.056");
t.addRow("pnkadd1", "NoK Address Line 1", "%COMWEB12.03.057");
t.addRow("pnkadd2", "NoK Address Line 2", "%COMWEB12.03.058");
t.addRow("pnksubr", "NoK Suburb", "%COMWEB12.03.059");
t.addRow("pnkadd4", "NoK Address Line 4", "%COMWEB12.03.060");
t.addRow("pnkpost", "NoK Postcode", "%COMWEB12.03.061");
t.addRow("pnktelp", "NoK Private Telephone", "%COMWEB12.03.062");
t.addRow("pnktelb", "NoK Business Telephone", "%COMWEB12.03.063");
t.addRow("pnkrelp", "NoK Relationship", "%COMWEB12.03.064");
t.addRow("pfndyy", "Years Health Fund Membership", "%COMWEB12.03.068");
t.addRow("pfndcg", "Health Fund Cover Change", "%COMWEB12.03.069");
t.addRow("pdecdte", "Date of Death", "%COMWEB12.03.070");
t.addRow("pdiet", "Default Diet Code", "%COMWEB12.03.072");
t.addRow("pinithos", "Hospital U/R Initiated From", "%COMWEB12.03.073");
t.addRow("phkaduni", "Hong Kong Unique Address ID", "%COMWEB12.03.074");
t.addRow("ptmaempc", "Patient Employer Code", "%COMWEB12.03.075");
t.addRow("ptmanoko", "Next Of Kin Occupation", "%COMWEB12.03.076");
t.addRow("ptmanoke", "Next Of Kin Employer Code", "%COMWEB12.03.077");
t.addRow("ptmadcno", "Death Certificate Number", "%COMWEB12.03.078");
t.addRow("ptmxrdat", "Registration Date", "%COMWEB12.03.098.008");
t.addRow("ptmxmeal", "Special Meal Requirements", "%COMWEB12.03.098.009");
t.addRow("ptmxlga", "LGA Code", "%COMWEB12.03.098.010");
t.addRow("ptmxls", "Current Legal Status", "%COMWEB12.03.098.011");
t.addRow("ptmxlsdt", "Date of Legal Status", "%COMWEB12.03.098.012");
t.addRow("ptmxfhmd", "Family hist. of mental disorder?", "%COMWEB12.03.098.013");
t.addRow("ptmxmhu1", "M.H. User def. field 1", "%COMWEB12.03.098.014");
t.addRow("ptmxmhu2", "M.H. User def. field 2", "%COMWEB12.03.098.015");
t.addRow("ptmxmhu3", "M.H. User def. field 3", "%COMWEB12.03.098.016");
t.addRow("ptmxecnm", "Emergency contact name", "%COMWEB12.03.098.017");
t.addRow("ptmxeca1", "Emergency contact address line 1", "%COMWEB12.03.098.018");
t.addRow("ptmxeca2", "Emergency contact address line 2", "%COMWEB12.03.098.019");
t.addRow("ptmxeca3", "Emergency contact address line 3", "%COMWEB12.03.098.020");
t.addRow("ptmxeca4", "Emergency contact address line 4", "%COMWEB12.03.098.021");
t.addRow("ptmxecpc", "Emergency contact postcode", "%COMWEB12.03.098.022");
t.addRow("ptmxecpp", "Emergency contact private phone", "%COMWEB12.03.098.023");
t.addRow("ptmxecbp", "Emergency contact business phone", "%COMWEB12.03.098.024");
t.addRow("ptmxecre", "Emergency contact relationship", "%COMWEB12.03.098.025");
t.addRow("ptmxnrnm", "Nearest relative name ", "%COMWEB12.03.098.026");
t.addRow("ptmxnra1", "Nearest relative address line 1", "%COMWEB12.03.098.027");
t.addRow("ptmxnra2", "Nearest relative address line 2", "%COMWEB12.03.098.028");
t.addRow("ptmxnra3", "Nearest relative address line 3", "%COMWEB12.03.098.029");
t.addRow("ptmxnra4", "Nearest relative address line 4", "%COMWEB12.03.098.030");
t.addRow("ptmxnrpc", "Nearest relative postcode", "%COMWEB12.03.098.031");
t.addRow("ptmxnrpp", "Nearest relative private phone", "%COMWEB12.03.098.032");
t.addRow("ptmxnrbp", "Nearest relative business phone", "%COMWEB12.03.098.033");
t.addRow("ptmxnrre", "Nearest relative relationship", "%COMWEB12.03.098.034");
t.addRow("ptmx3bex", "3B certificate expiry date", "%COMWEB12.03.098.035");
t.addRow("ptmxcard", "Card number (NZ billing)", "%COMWEB12.03.098.036");
t.addRow("ptmxcexp", "Card expiry date (NZ billing)", "%COMWEB12.03.098.037");
t.addRow("ptmxcxmp", "Card exemption type", "%COMWEB12.03.098.038");
t.addRow("ptmxfmly", "Family ID", "%COMWEB12.03.098.039");
t.addRow("ptmxchnm", "Chinese Name", "%COMWEB12.03.098.040");
t.addRow("ptmxdofr", "District of Residence", "%COMWEB12.03.098.041");
t.addRow("ptmxregp", "District of Residence", "%COMWEB12.03.098.041");
t.addRow("ptmxgppc", "Registered GP", "%COMWEB12.03.098.042");
t.addRow("ptmxspid", "GP Practice Code", "%COMWEB12.03.098.043");
t.addRow("ptmxgppt", "Supplementary ID", "%COMWEB12.03.098.044");
t.addRow("ptmxosdt", "Date Arrived from O/S", "%COMWEB12.03.098.046");
t.addRow("ptninmpi", "National ID No", "%COMWEB12.03.098.067");
t.addRow("nhmasurn", "Surname", "%COMWEB12.03.098.068");
t.addRow("nhmagiv1", "Given Name 1", "%COMWEB12.03.098.069");
t.addRow("nhmagiv2", "Given Name 2", "%COMWEB12.03.098.070");
t.addRow("nhmagiv3", "Given Name 3", "%COMWEB12.03.098.071");
t.addRow("nhmaprei", "Preferred Name Indicator", "%COMWEB12.03.098.072");
t.addRow("nhmaadd1", "Address Line 1", "%COMWEB12.03.098.073");
t.addRow("nhmaadd2", "Address Line 2", "%COMWEB12.03.098.074");
t.addRow("nhmaadd3", "Suburb", "%COMWEB12.03.098.075");
t.addRow("nhmaadd4", "City/Town", "%COMWEB12.03.098.076");
t.addRow("nhmaadd5", "Country", "%COMWEB12.03.098.077");
t.addRow("nhmadob", "Date of Birth", "%COMWEB12.03.098.078");
t.addRow("nhmaddth", "Date of Death", "%COMWEB12.03.098.079");
t.addRow("nhmadomc", "Domicile Code", "%COMWEB12.03.098.080");
t.addRow("nhmares", "Residence Status", "%COMWEB12.03.098.081");
t.addRow("nhmaeth", "Ethnicity", "%COMWEB12.03.098.082");
t.addRow("nhmasex", "Gender", "%COMWEB12.03.098.083");
t.addRow("nhmadat", "Date Last Updated", "%COMWEB12.03.098.084");
t.addRow("nhmatim", "Time Last Updated", "%COMWEB12.03.098.085");
t.addRow("nhmaeth2", "2nd Ethnicity", "%COMWEB12.03.098.086");
t.addRow("nhmaeth3", "3rd Ethnicity", "%COMWEB12.03.098.087");
t.addRow("ptmxoper", "Operator Code who Created Record", "%COMWEB12.03.098.047");
t.addRow("ptmxukdo", "Unknown Date Arrived from O/S", "%COMWEB12.03.098.048");
t.addRow("ptmxcell", "Cellular Phone Number", "%COMWEB12.03.098.049");
t.addRow("ptmxadd1", "Postal Address Line 1", "%COMWEB12.03.098.050");
t.addRow("ptmxadd2", "Postal Address Line 2", "%COMWEB12.03.098.051");
t.addRow("ptmxadd3", "Postal Address Line 3", "%COMWEB12.03.098.052");
t.addRow("ptmxadd4", "Postal Address Line 4", "%COMWEB12.03.098.053");
t.addRow("ptmxpost", "Postal Address Postcode", "%COMWEB12.03.098.054");
t.addRow("pmpxintr", "Interpreter Required?", "%COMWEB12.03.098.094");
t.addRow("pmpxlng1", "Preferred Language 1", "%COMWEB12.03.098.095");
t.addRow("pmpxlng2", "Preferred Language 2", "%COMWEB12.03.098.096");
t.addRow("pmpxlng3", "Preferred Language 3", "%COMWEB12.03.098.097");
t.addRow("pmpxpeml", "Patient Email Address", "%COMWEB12.03.098.098.001");
t.addRow("pmpxedob", "Date of Birth Estimated?", "%COMWEB12.03.098.098.002");
t.addRow("pmpxcmob", "Emergency Contact Mobile Number", "%COMWEB12.03.098.098.003");
t.addRow("pmpxceml", "Emergency Contact Email Address", "%COMWEB12.03.098.098.004");
t.addRow("pmpxccrp", "Emergency Contact Correct?", "%COMWEB12.03.098.098.005");
t.addRow("pmpxkmob", "NOK Mobile Number", "%COMWEB12.03.098.098.006");
t.addRow("pmpxkeml", "NOK Email Address", "%COMWEB12.03.098.098.007");
t.addRow("pmpxkcrp", "NOK Correspondence", "%COMWEB12.03.098.098.008");
t.addRow("pmpxrmob", "Nearest Relative Mobile Number", "%COMWEB12.03.098.098.009");
t.addRow("pmpxreml", "Nearest Relative Email Address", "%COMWEB12.03.098.098.010");
t.addRow("pmpxrcrp", "Nearest Relative Correct?", "%COMWEB12.03.098.098.011");
t.addRow("pmpxmedc", "Medicare Card Valid to", "%COMWEB12.03.098.098.012");
t.addRow("pmpxdety", "Death Type", "%COMWEB12.03.098.098.013");
t.addRow("pmpxpris", "PRISM Number", "%COMWEB12.03.098.098.014");
t.addRow("pmpxcser", "Correctional Services Number", "%COMWEB12.03.098.098.015");
t.addRow("pmpxphei", "Patient Height", "%COMWEB12.03.098.098.016");
t.addRow("pmpxpwei", "Patient Weight", "%COMWEB12.03.098.098.017");
t.addRow("pmpxdrec", "Date Weight/Height Recorded", "%COMWEB12.03.098.098.018");
t.addRow("pmpxdvac", "DVA Card Colour", "%COMWEB12.03.098.098.053");
t.addRow("pmpxpnsd", "Pension Start Date", "%COMWEB12.03.098.098.054");
t.addRow("pmpxuyn4", "User Def. Y/N field 4", "%COMWEB12.03.098.098.055");
t.addRow("pmpxuyn5", "User Def. Y/N field 5", "%COMWEB12.03.098.098.056");
t.addRow("pmpxuyn6", "User Def. Y/N field 6", "%COMWEB12.03.098.098.057");
t.addRow("pmpxabrg", "Aboriginality", "%COMWEB12.03.098.098.058");
t.addRow("pmpxprvi", "Privacy Indicator", "%COMWEB12.03.098.098.059");
t.addRow("pmpxcrin", "Consent Release of Info?", "%COMWEB12.03.098.098.060");
t.addRow("pmpxhoml", "Homeless?", "%COMWEB12.03.098.098.061");
t.addRow("pmpxudc1", "User Def. Comments 1", "%COMWEB12.03.098.098.062");
t.addRow("pmpxudc2", "User Def. Comments 2", "%COMWEB12.03.098.098.063");
t.addRow("pmpxudc3", "User Def. Comments 3", "%COMWEB12.03.098.098.064");
t.addRow("pmpxusr7", "User Defined 7", "%COMWEB12.03.098.098.065");
t.addRow("pmpxusr8", "User Defined 8", "%COMWEB12.03.098.098.066");
t.addRow("pmpxusr9", "User Defined 9", "%COMWEB12.03.098.098.067");
t.addRow("pmpxmsna", "Mother's Surname", "%COMWEB12.03.098.098.019");
t.addRow("pmpxmgna", "Mother's Given Name", "%COMWEB12.03.098.098.020");
t.addRow("pmpxmtle", "Mother's Title", "%COMWEB12.03.098.098.021");
t.addRow("pmpxmad1", "Mother's Address Line 1", "%COMWEB12.03.098.098.022");
t.addRow("pmpxmad2", "Mother's Address Line 2", "%COMWEB12.03.098.098.023");
t.addRow("pmpxmad3", "Mother's Address Line 3", "%COMWEB12.03.098.098.024");
t.addRow("pmpxmad4", "Mother's Address Line 4", "%COMWEB12.03.098.098.025");
t.addRow("pmpxmpos", "Mother's Address Post Code", "%COMWEB12.03.098.098.026");
t.addRow("pmpxmpno", "Mother's Private Number", "%COMWEB12.03.098.098.027");
t.addRow("pmpxmbno", "Mother's Business Number", "%COMWEB12.03.098.098.028");
t.addRow("pmpxmmno", "Mother's Mobile Number", "%COMWEB12.03.098.098.029");
t.addRow("pmpxmeml", "Mother's Email Address", "%COMWEB12.03.098.098.030");
t.addRow("pmpxmcnt", "Mother's Country of Birth", "%COMWEB12.03.098.098.031");
t.addRow("pmpxmcrp", "Mother's Correspondence", "%COMWEB12.03.098.098.032");
t.addRow("pmpxmlab", "Mother's Name on Labels", "%COMWEB12.03.098.098.033");
t.addRow("pmpxmrel", "Relationship to Patient", "%COMWEB12.03.098.098.034");
t.addRow("pmpxfsna", "Father's Surname", "%COMWEB12.03.098.098.035");
t.addRow("pmpxfgna", "Father's Given Name", "%COMWEB12.03.098.098.036");
t.addRow("pmpxftle", "Father's Title", "%COMWEB12.03.098.098.037");
t.addRow("pmpxfad1", "Father's Address Line 1", "%COMWEB12.03.098.098.038");
t.addRow("pmpxfad2", "Father's Address Line 2", "%COMWEB12.03.098.098.039");
t.addRow("pmpxfad3", "Father's Address Line 3", "%COMWEB12.03.098.098.040");
t.addRow("pmpxfad4", "Father's Address Line 4", "%COMWEB12.03.098.098.041");
t.addRow("pmpxfpos", "Father's Address Post Code", "%COMWEB12.03.098.098.042");
t.addRow("pmpxfpno", "Father's Private Number", "%COMWEB12.03.098.098.043");
t.addRow("pmpxfbno", "Father's Business Number", "%COMWEB12.03.098.098.044");
t.addRow("pmpxfmno", "Father's Mobile Number", "%COMWEB12.03.098.098.045");
t.addRow("pmpxfeml", "Father's Email Address", "%COMWEB12.03.098.098.046");
t.addRow("pmpxfcnt", "Father's Country of Birth", "%COMWEB12.03.098.098.047");
t.addRow("pmpxfcrp", "Father's Correspondence", "%COMWEB12.03.098.098.048");
t.addRow("pmpxflab", "Name on Labels", "%COMWEB12.03.098.098.049");
t.addRow("pmpxfrel", "Relationship to Patient", "%COMWEB12.03.098.098.050");
t.addRow("ptmxmccd", "Medicare Code", "%COMWEB12.03.098.055");
t.addRow("pmpxrhc1", "Registered HCP 1", "%COMWEB12.03.098.098.091");
t.addRow("pmpxrh1g", "Registered HCP Practice 1", "%COMWEB12.03.098.098.092");
t.addRow("pmpxr1gc", "Registered HCP Practice Count 1", "%COMWEB12.03.098.098.093");
t.addRow("pmpxfnam", "Patient First Given Name", "%COMWEB12.03.098.098.088");
t.addRow("pmpxsnam", "Patient Second Given Name", "%COMWEB12.03.098.098.089");
t.addRow("ptmasnam", "Patient Surname", "%COMWEB12.03.097");
t.addRow("ptmadcdt", "Demographics Confirmed Date", "%COMWEB12.03.082");
t.addRow("pmpxihos", "Hospital Initiating U/R", "%COMWEB12.03.098.098.074");
t.addRow("pmpxlubh", "Hospital Last Updated U/R", "%COMWEB12.03.098.098.098.003");
t.addRow("pmpxpmcn", "Preferred Method of Contact", "%COMWEB12.03.098.098.098.004");
t.addRow("pmpxpmcr", "Preferred Method of Correspondence", "%COMWEB12.03.098.098.098.005");
  }
</script>
