<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostForm() {
  if(document.UpdateForm.d_patcn456.checked==false) {
     document.UpdateForm.patcn456.value="0";
  } else {
     document.UpdateForm.patcn456.value="1";
  }
  if(document.UpdateForm.d_patcn495.checked==false) {
     document.UpdateForm.patcn495.value="0";
  } else {
     document.UpdateForm.patcn495.value="1";
  }
  document.UpdateForm.patcn511.disabled=false;
  if(document.UpdateForm.d_patcn548.checked==false) {
     document.UpdateForm.patcn548.value="0";
  } else {
     document.UpdateForm.patcn548.value="1";
  }

  setFormactn('U');
}
function GoBack() {
  window.location.href = document.UpdateForm.redirect.value;
}
function EmailAddr(useAudit) {
  if(useAudit.checked === true) {
    document.getElementById('patcn496').className = "Mandatory";
  } else {
    document.getElementById('patcn496').className = "";
    document.getElementById('patcn496').value = "";
  }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=UpdateForm method=post action=comweb98.pbl>
<input type=hidden name=reportno value="9">
<input type=hidden name=template value="003">
<input type=hidden name=redirect value="comweb98.pbl?reportno=09&template=001">
<input type=hidden name=nextpage value="1">
<input type=hidden name=updttype value=" ">
<input type=hidden name=patcn456 value=" ">
<input type=hidden name=patcn495 value=" ">
<input type=hidden name=patcn548 value=" ">

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell align=center>System - Hospital Controlled 1</td>
    </tr>
<tr><td>
</table>
<table align=center width=95% border=0 cellspacing=0 cellpadding=0>

<tr><td colspan=3 align=center><hr width=100%></td></tr>

<tr><td class=DataLabel>&nbsp;</td>
    <td class=DataLabel>&nbsp;</td>
    </tr>

<tr><td class=DataLabel>NSW Source System Indicator (EDWARD)</td>
    <td class=DataItem><input type=text name=patcn453 size=25 maxlength=20 
     title="NSW Source System Indicator (EDWARD)" value="%COMWEB98.09.299.353">
    </td></tr>

<tr><td class=DataLabel>NSW Issuing Authority Identifier (EDWARD - HERO)</td>
    <td class=DataItem><input type=text name=patcn454 size=25 maxlength=20 
     title="NSW Issuing Authority Identifier(EDWARD - HERO)" 
     value="%COMWEB98.09.299.354">
    </td></tr>

<tr><td class=DataLabel>NSW EDWARD Campus Identifier</td>
    <td class=DataItem><input type=text name=patcn455 size=25 maxlength=20
     title="NSW EDWARD Campus Identifier" value="%COMWEB98.09.299.355">
    </td></tr>

<tr><td class=DataLabel>Send Health Service details to EDWARD</td>
    <td class=DataItem><input type=checkbox name=d_patcn456
     title="Send Health Service details to EDWARD" value="1">
    </td></tr>

<tr><td class=DataLabel>External Identifier Issuing Authority</td>
    <td class=DataItem><input type=text name=patcn481 size=25 maxlength=20
     title="External Identifier Issuing Authority" value="%COMWEB98.09.299.381"> </td></tr>

<tr><td class=DataLabel>NBH Contracted Public Patient Services</td>
    <td class=DataItem><input type=text name=patcn482 size=25 maxlength=20
   title="NBH Contracted Public Patient Services" value="%COMWEB98.09.299.382"> 
</td></tr>

<tr><td class=DataLabel>EDWARD Building Location ID</td>
    <td class=DataItem><input type=text name=patcn509 size=25 maxlength=20
     title="EDWARD Building Location ID"
      value="%COMWEB98.09.299.409"> </td></tr>

<tr><td class=DataLabel>Using Ward Bed Audit</td>
    <td class=DataItem><input type=checkbox name=d_patcn495 id="d_patcn495"
     onclick="EmailAddr(UpdateForm.d_patcn495);"
     title="Using Ward Bed Audit" value="1">
    <class=DataItem><input type=text name=patcn496 id="patcn496"
     size=80 maxlength=80
     title="Email Address for Ward Bed Audit" value="%COMWEB98.09.299.396"> 
</td></tr>

<tr><td class=DataLabel>SMS Message display order</td>
    <td><select name=patcn511 title="SMS Message display order">
        <option value="0">Code Order</option>
        <option value="1">Description Order</option>
        </select></td></tr>

<tr><td class=DataLabel>Using Address Validation</td>
    <td><select name=patcn517 title="Using Address Validation">
        <option value="0">No address validation</option>
        <option value="1">Addressify Pro</option>
        </select></td></tr>

<tr><td class=DataLabel>Collect Extra Container Information for EDWARD (AP, NAP and ED)</td>
    <td class=DataItem><input type=checkbox name=d_patcn548
     title="Collect Extra Container Information for EDWARD" value="0">
    </td></tr>

<tr><td class=DataLabel>Overdue Leave Register Patients Polling Server interval
                        - minutes (range 1 to 1440; 0 = do not run)</td>
    <td class=DataItem><input type=text name=patcn549 
     size=5 maxlength=4 min=0 max=1440 class="Mandary Integer"
     title="Overdue Leave Register Patients Polling Server interval - minutes"
     value="%COMWEB98.09.299.449">
    </td></tr>

<tr><td class=DataLabel>System Type</td>
    <td><select name=patcn554 title="System Type">
        <option value="0">Production</option>
        <option value="1">Test/development</option>
        <option value="2">Training</option>
        </select></td>
</tr>

<tr><td class=DataLabel>Display Site Specific Fields on Templates</td>
    <td><select name=patcn585 title="Site Fields">
        <option value="0">No Site</option>
        <option value="1">Cabrini</option>
        </select></td>
</tr>

<tr><td class=DataLabel>Number of Rows to Display Per Page on Maintenance Lists</td>
    <td><select name=patcn600 title="Rows Per Page">
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
        </select></td>
</tr>

<tr><td class=DataLabel>&nbsp;</td>
    <td class=DataLabel>&nbsp;</td>
    </tr>
    
<tr><td colspan=3 align=center><hr width=100%></td></tr>

<tr><td colspan=3 align=center>
   <input type=button value="Update" class="button" onclick="PostForm();">
   <input type=button value="Cancel" class="button" onclick="GoBack();">
</td></tr>

</table>
</form>

<script type="text/javascript">
 CheckSendDetails="%COMWEB98.09.299.356"
 if(CheckSendDetails=="1") {
   document.UpdateForm.d_patcn456.checked=1;
 }
 UsingWardBedAudit="%COMWEB98.09.299.395"
 if(UsingWardBedAudit=="1") {
   document.UpdateForm.d_patcn495.checked=1;
   document.getElementById('patcn496').className = "Mandatory";
 }
 SMSListOrder="%COMWEB98.09.299.411";
 for (var i=0; i<document.UpdateForm.patcn511.length; i++) {
  if (document.UpdateForm.patcn511.options[i].value == SMSListOrder) {
     document.UpdateForm.patcn511.selectedIndex=i;
  }
 }
 UsingSMSNotifications="%COMWEB98.09.299.272";
 if(UsingSMSNotifications!="1") {
   document.UpdateForm.patcn511.selectedIndex=0;
   document.UpdateForm.patcn511.disabled=true;
 }

 UsingAddrVald="%COMWEB98.09.299.417";
 for (var i=0; i<document.UpdateForm.patcn517.length; i++) {
  if (document.UpdateForm.patcn517.options[i].value == UsingAddrVald) {
     document.UpdateForm.patcn517.selectedIndex=i;
  }
 }
 CheckExtEdward="%COMWEB98.09.299.448"
 if(CheckExtEdward=="1") {
   document.UpdateForm.d_patcn548.checked=1;
 }

 SystemType="%COMWEB98.09.299.454";
 for (var i=0; i<document.UpdateForm.patcn554.length; i++) {
  if (document.UpdateForm.patcn554.options[i].value == SystemType) {
     document.UpdateForm.patcn554.selectedIndex=i;
  }
 }

 SiteSpecificFields="%COMWEB98.09.299.485";
 for (var i=0; i<document.UpdateForm.patcn585.length; i++) {
  if (document.UpdateForm.patcn585.options[i].value == SiteSpecificFields) {
     document.UpdateForm.patcn585.selectedIndex=i;
  }
 }

 NumberOfRowsPerPage="%COMWEB98.09.299.500";
 for (var i=0; i<document.UpdateForm.patcn600.length; i++) {
  if (document.UpdateForm.patcn600.options[i].value == NumberOfRowsPerPage) {
     document.UpdateForm.patcn600.selectedIndex=i;
  }
 }
</script>

