<meta name="TemplateVersion" content="V11.03.01">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function PostForm() {
  if(document.UpdateForm.d_mrtcn053.checked==false) {
     document.UpdateForm.mrtcn053.value="0";
  } else {
     document.UpdateForm.mrtcn053.value="1";
  }
  setFormactn('U');
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<form name=UpdateForm method=post action=comweb98.pbl>
<input type=hidden name=reportno value="11">
<input type=hidden name=template value="004">
<input type=hidden name=redirect value="comweb98.pbl?reportno=11&template=001">
<input type=hidden name=nextpage value="1">
<input type=hidden name=updttype value=" ">
<input type=hidden name=mrtcn053 value=" ">

<table align=center width=100% border=0 cellspacing=0 cellpadding=0>
<tr><td class=HeadingCell align=center>
     Medical Records Parameter Maintenance - Hospital Controlled 2
    </td>
    </tr>
<tr><td>
</table>
<table align=center width=95% border=0 cellspacing=0 cellpadding=0>

<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td class=DataLabel>Prompt to copy codes from the last discharge
                        private/mrtweb0201001.html</td>
    <td><input type=checkbox name=d_mrtcn053 value="1">
    </td></tr>
<tr><td class=DataLabel>Enable Attestation Coding Audit</td>
    <td><select name=mrtcn056 >
        <option value="0">Disabled</option>
        <option value="1">Attestation Functionality</option>
        <option value="2">Attestation and Coding Audit Functionality</option>
        </select>
    </td></tr>

<tr><td width=10% class=DataLable>&nbsp;</td>
    <td width=10% class=DataItem>&nbsp;</td>
    </tr>
    
<tr><td colspan=2 align=center><hr width=100%></td></tr>

<tr><td colspan=2 align=center>
   <input type=button value="Update" class="button" onclick="PostForm();">
   <input type=button onclick='history.go(-1)' value=Cancel class="button">
</td></tr>
</table>

</form>

<script type="text/javascript">
if("%COMWEB98.11.153"=="1") {
  document.UpdateForm.d_mrtcn053.checked=1;
}
MRCNEACA="%COMWEB98.11.156";
document.UpdateForm.mrtcn056.selectedIndex=MRCNEACA;
</script>
