<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/ReportStandard.js"></script>
<script type="text/javascript">
function SetReportSchedule(ListItem) {
ListItem.options[ListItem.options.length]=
  new Option("Today","01");
ListItem.options[ListItem.options.length]=
  new Option("Yesterday","02");
ListItem.options[ListItem.options.length]=
  new Option("Day Before Yesterday","11");
}
 
function ProcessReport() {
  p=document.ReportForm
  p.schddesc.value="NSW EDWARD Visit Update"
  if(p.keystr01.value=='1'){
    p.schddesc.value += " - Run Report Only"
  }
  if(p.keystr01.value=='2'){
    p.schddesc.value += " - Run Report and Trigger Records"
  }

 SubmitPage=true
 if (p.schdrdat.value=="") {
     p.keystr03.title="From Date"
     p.keystr04.title="To Date"
     p.keystr03.value=p.datran01.value
     p.keystr04.value=p.datran02.value 
     SubmitPage=CheckDateRange(p.keystr03,p.keystr04) }
 else {
     p.keystr03.title="From Schedule"
     p.keystr04.title="To Schedule" }
if (SubmitPage) {
  SubmitReport(p) }
}
function SetFieldNames(trigger_option) {
 fdt=document.getElementById("fromd_title");
 tdt=document.getElementById("tod_title");
 if(trigger_option.value == "5  ") {
   fdt.innerHTML="Booking Date From";
   tdt.innerHTML="Booking Date To";
   return;
 } 
 if(trigger_option.value == "14 ") {
   fdt.innerHTML="Discharge Date From";
   tdt.innerHTML="Discharge Date To";
   return;
 } 
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);ReportLoad();
              document.ReportForm.schddate.focus();">
<form name=ReportForm method=post action=rshweb02.pbl style="margin:0">
  <input type=hidden name=reportno value=4>
  <input type=hidden name=template value=001>
  <input type=hidden name=updttype value="A">
  <input type=hidden name=setdfprg value="IBAPMS46">
  <input type=hidden name=setdfrep value="01">
  <input type=hidden name=schdpgid value="IBAPMS46">    
  <input type=hidden name=schddesc value="NSW EDWARD Visit Update">
  <input type=hidden name=nextpage value="1">
  <input type=hidden name=redirect value="rshweb02.pbl?reportno=1&template=1">

<table width=100% align=center border=0 cellspacing=0>
<tr><td class=HeadingCell align=center colspan=2>
    NSW EDWARD Visit Update</td></tr>
<tr><td>
</table>

<table width=80% align=center border=0 cellspacing=2 cellpadding=1>

<tr><td class=DataLabel width=25%>Schedule Date</td>
    <td class=DataLabel>
    <input type=text name=schddate size=12 title="Schedule Date"
    value="%STANDARD.01.015"
    onblur="checkDate(this,'Schedule Date');">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schddate">
    Time
    <input type=text name=schdtime size=12 title="Schedule Time"
    value="%STANDARD.01.016">
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schddate" time="ReportForm.schdtime">
    <img notab src="../images/TimeLookup.gif" class="Icon" 
     alt="Time Select" time="ReportForm.schdtime">
    </td></tr>

<tr><td class=DataLabel>Printer</td>
    <td><select name=schdprnt title="Printer" class=Mandatory>
        <option></option>
        %STANDARD.01.001.IBAPMS46.01
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Number of Copies</td>
    <td><select name=schdcopy title='Number of Copies' class=Mandatory>
        </select>
    </td></tr>
 
<tr><td class=DataLabel>Re-schedule Type</td> 
    <td class=DataLabel colspan=3> 
    <select name=schdrdat title="Re-schedule Type" 
     onchange="SetReportDates();"> 
    <option></option> 
    </select> 
    </td></tr> 
 
<tr><td class=DataLabel>Re-schedule Until Date</td> 
    <td class=DataLabel colspan=3> 
    <input type=text name=schdrend size=12 
     onblur="checkDate(this,'Re-schedule Until Date');"> 
    <img notab src="../images/DateTimeStamp.gif" class="Icon"
     alt="Current" date="ReportForm.schdrend">
    <img notab src="../images/DateLookup.gif" class="Icon" 
     alt="Show Calendar" date="ReportForm.schdrend">
    </td></tr>
 
<tr><td colspan=2 align=center><hr width=80%></td></tr>

<tr><td class=DataLabel width=25%>Report Option </td>
    <td><select name=keystr01 class=Mandatory title="Extract Stream Type">
        <option></option>
        <option value="1">Run Report Only</option>
        <option value="2">Run Report and Trigger Records</option>
        </select>
    </td></tr>

<tr><td class=DataLabel width=25%>EDWARD Trigger</td>
    <td><select name=keystr02 class=Mandatory title="Admitted Patient Type"
         onchange="SetFieldNames(this);">
        <option></option>
        <option value="5  ">Non Admitted Patient - 5 - Update Outpatient Visit 
        </option>
        <option value="14 ">Admitted Patient - 14 - Admission Details Update 
                           (Obj 59, 60, 72. 112)
        </option>
        </select>
    </td>
</tr> 

<tr><td class=DataLabel id="fromd_title">Date From</td>
    <td><span id=DateRange></span>
    </td>
</tr>
<tr><td class=DataLabel id="tod_title">Date To</td>
    <td><span id=DateRange2></span>
</tr>

 <input type=hidden name=keystr03 id=keystr03 value="">           
 <input type=hidden name=keystr04 id=keystr04 value="">
 <input type=hidden name=keystr05 value="Y">     <!-- OK to continue -->
 <input type=hidden name=keystr06 value=" ">
 <input type=hidden name=keystr07 value=" ">
 <input type=hidden name=keystr08 value=" ">

<tr><td align=center colspan=2><br>
    <input type=button value=Ok class="button" onclick='ProcessReport();'>
    <input type=button value=Cancel class="button" 
     onclick='location.href="../lookups/blank.html"' >
    </td></tr>
</table>
</form>

<div id=SetDateRange style="display:none;">
   <input type=text size=15 maxlength=12 name=datran01
   onblur="checkDate(this,'From Date')" class="Mandatory PriorDate"
    title="From Date">
   <img notab src="../images/DateTimeStamp.gif" class="Icon"
    alt="Current" date="ReportForm.datran01">
   <img notab src="../images/DateLookup.gif" class="Icon"
    alt="Calendar" date="ReportForm.datran01">
</div>
<div id=SetDateRange2 style="display:none;">
   <input type=text size=15 maxlength=12 name=datran02
   onblur="checkDate(this,'To Date')" class="Mandatory PriorDate"
     title="To Date">
   <img notab src="../images/DateTimeStamp.gif" class="Icon"
    alt="Current" date="ReportForm.datran02">
   <img notab src="../images/DateLookup.gif" class="Icon"
    alt="Calendar" date="ReportForm.datran02">
</div>

<div id=SetScheduleRange style="display:none;">
    <select name=datsch01 title="Schedule Range" class=Mandatory
    onblur="UpReportSchedule(this,keystr03,keystr04);">
    <option></option></select>
    Sample Range
    <input type=text name=SampleFrom size=12> To
    <input type=text name=SampleTo size=12>
</div>
 
