<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>

   <form name=UpdateForm method=post action=oprweb04.pbl>
   <input type=hidden name=reportno value="6">
   <input type=hidden name=template value="003">
   <input type=hidden name=updttype value="">
   <input type=hidden name=oprtb001 value="%OPRWEB04.06.001">
<table align=center width=100% border=0 cellpadding=2 cellspacing=0>
<tr><td>

<table align=center width=95% border=0 cellpadding=1 cellspacing=0>

<tr><td class=Heading colspan=2 align=center>
        <b>%OPRWEB04.06.002 Tray Details </b></td></tr>

<tr><td class=DataLabel width=15%>Item</td>
    <td><input type=text name=oprtb002 class=Readonly title="Item" readonly 
         value="%OPRWEB04.06.102" size=16 maxlength=15 tabindex=-1>
    <input type=text name=name_oprtb002 class=Readonly title="Item" readonly 
     value="%OPRWEB04.06.107" size=90 maxlength=30 tabindex=-1>
</td></tr>

<tr><td class=DataLabel><br>Quantity</td>
    <td valign=bottom><input type=text size=3 name=oprtb003 class=Mandatory 
         title="Quantity" value="%OPRWEB04.06.103" maxlength=4> 
    </td></tr>

<tr><td colspan=2 align=center><br>
<input type=button value="Update" class="button" onclick=setFormactn('U');>
<input type=button value="Delete" class="button" onclick=setFormactn('D');>
<input type=button value="Cancel" class="button" onclick=DFrameClose();>
</td></tr>
</table>
</td></tr>
</table>
</form>
