<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSortNew.js></script>
<script type="text/javascript">
function UpdatePrefComment(doctcode,prefcode,oppcm003,oppcm004) {
 doctcode=doctcode.replace(/ /g,"+");
 prefcode=prefcode.replace(/ /g,"+");
 oppcm003=oppcm003.replace(/ /g,"+");
 oppcm004=oppcm004.replace(/ /g,"+");
 LinkUrl="oprweb04.pbl?reportno=16&template=3&doctcode="+doctcode+
                                            "&prefcode="+prefcode+
                                            "&oppcm003="+oppcm003+
                                            "&oppcm004="+oppcm004;
 DFrameLink(LinkUrl,20,150,500,300);
}
function AddItem(doctcode,prefcode) {
 doctcode=doctcode.replace(/ /g,"+");
 LinkUrl="oprweb04.pbl?reportno=16&template=2&doctcode="+doctcode+
                                            "&prefcode="+prefcode;
 DFrameLink(LinkUrl,20,150,500,400);
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link  
//  1 - Class 
//  2 - Type 
//  3 - Item 
//  4 - Qty 
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",25,25);
 t.addColumn("Class","String",1,1,"left","EditIcon.gif","0",20)
 t.addColumn("Order","String",2,2,"left","","",15)
 t.addColumn("Line","String",3,3,"left","","",20)
 t.addColumn("Comment","Number",4,4,"left","","",100)
 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc Dsc
// TableOutput(2,1);
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=HeadingSection>
<table cellspacing=0 border=0 cellpadding=0 width=100% bgcolor=#cccccc>
<tr><td>
&nbsp;<b>Operating Preferences for %OPRWEB04.16.002</b></td>
<td align=right>
<input type=button class="button" value="Operations"
 onclick='location.href="%OPRWEB04.16.001.oprweb04.10.001";'>
<input type=button class="button" value="Add"
 onclick='AddItem("%OPRWEB04.16.202","%OPRWEB04.16.203");'>
</td></tr>
</table>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%OPRWEB04.16.201
}
</script>
