<meta name="TemplateVersion" content="V11.03.01">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src="../js/oprweb04.js"> </script>
<script type="text/javascript">
function redButtonComment() {
  if (document.UpdateForm.exiscomm.value=="1") {
    document.UpdateForm.commbutt.className="redbutton";  
  }
  if (document.UpdateForm.exisdetl.value=="1") {
    document.UpdateForm.detlbutt.className="redbutton";
  }
}
function CreateCopy(olddh001,olddh002) {

  location.href = "oprweb04.pbl?reportno=10&template=004" +
                  "&olddh001=" + olddh001.replace(/ /g,"+") +  
                  "&olddh002=" + olddh002.replace(/ /g,"+") +
                  "&doctcode=" + olddh001.replace(/ /g,"+") +
                  "&oprdh001=" + olddh002.replace(/ /g,"+");

}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);redButtonComment();">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
<script type="text/javascript">document.write(self.document.title);</script>
</span>
<form name=UpdateForm method=post action=oprweb04.pbl style="margin:0">
<input type=hidden name=reportno value="10">
<input type=hidden name=template value="003">
<input type=hidden name=updttype value="">
<input type=hidden name=exiscomm value="%OPRWEB04.10.105">
<input type=hidden name=exisdetl value="%OPRWEB04.10.108">
<table align=center width=95% border=0>
<tr><td>
<table align=center width=100% border=0>
<tr><td class=DataLabel>Doctor </td>
    <td><input type=hidden name=doctcode value="%OPRWEB04.10.003">
        <input type=text name=doctname class=Readonly readonly
         value="%OPRWEB04.10.002" size=35 tabindex=-1></td></tr>
<tr><td class=DataLabel>Preference Code</td>
    <td><input type=text name=oprdh001 class=Readonly title="Preference Code"
         size=10 maxlength=9 readonly value="%OPRWEB04.10.102" tabindex=-1>
    </td></tr>
<tr><td class=DataLabel>Description</td>
    <td><input type=text name=oprdh002 class=Mandatory title="Description"
         size=30 maxlength=30 value="%OPRWEB04.10.103"></td></tr>
<tr><td colspan=2 align=center><br>
<input type=button value="Update" class="button" onclick="setFormactn('U');">
<input type=button value="Delete" class="button" onclick="setFormactn('D');">
<input type=button value="Cancel" class="button" 
 onclick="DFrameCloseRefresh();">
<input type=button value="Details" class="button" name="detlbutt" id="detlbutt"
     onclick='PreferenceDetails("%OPRWEB04.10.101","%OPRWEB04.10.102")'>
<br>
<input type=button value="Comments" class="button" name="commbutt" id="commbutt"
     onclick='PreferenceCommentsDetails("%OPRWEB04.10.101","%OPRWEB04.10.102")'>
<input type=button value="Create Copy" class="button" name="copybutt" 
 id="copybutt"
     onclick='CreateCopy("%OPRWEB04.10.101","%OPRWEB04.10.102");'>
</td></tr>
</table>
</td></tr>
</table>
</form>
