<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName"    content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript" src=../js/TableSort.js></script>
<script type="text/javascript">
function UpdatePreference(KEY) {
 doctcode=KEY.substr(0,6).replace(/ /g,"+");
 prefcode=KEY.substr(6,9).replace(/ /g,"+");
 LinkUrl="oprweb04.pbl?reportno=10&template=3&doctcode="+doctcode+
                                            "&oprdh001="+prefcode;
 DFrameLink(LinkUrl,20,150,500,200);
}
function AddPreference(doctcode) {
 doctcode=doctcode.replace(/ /g,"+");
 LinkUrl="oprweb04.pbl?reportno=10&template=2&doctcode="+doctcode;
 DFrameLink(LinkUrl,20,150,500,200);
}
//----------------------------------------------------------------------------
// Create New Table Object
// Border, Cellspacing, Cellpadding, Width, Align, Heading Height, Row Height
//----------------------------------------------------------------------------
// Add Columns in Order Required
// Heading,Type,Display Column,Sort Column, Align, Icon, Link Column
// Columns Available
//  0 - HTML Link  
//  1 - ID  
//  2 - Name 
//---------------------------------------------------------------------------
function InitTable(TableView) {
switch (TableView) {
case 0: {
 t = new Table(1,0,2,"100%","center",25,25);
 t.addColumn("Code","String",1,1,"left","EditIcon.gif","0",80)
 t.addColumn("Description","String",2,2,"left","","",220)
 AddTableRows()
 TableOutput(1,1);    // Order Column,Asc Dsc
 break; }
 }
}
</script>
</head>
%START.OF.PAGE
<body onload="PageLoad(event);InitTable(0);">
<div id=HeadingSection>
<table cellspacing=0 border=0 cellpadding=0 width=100% bgcolor=#cccccc>
<tr><td>
&nbsp;<b>Operating Preferences for %OPRWEB04.10.002</b></td>
<td align=right>
<input type=button class="button" value="Add"
 onClick='AddPreference("%OPRWEB04.10.003");'>
</td></tr>
</table>
</div>
<div id=TableLocation></div>
<script type="text/javascript">
function AddTableRows() {
%OPRWEB04.10.104
}
</script>
