<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
</head>
%START.OF.PAGE
<body onload="PageLoad(event);getSortWardCookie();">
<!--        Sub-Frame Header Section       -->
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon" 
 src="../images/ExitIcon.gif" onclick="DFrameExitRefresh();">
Update Condition - %PATWEB93.05.002
</span>
<!--        Sub-Frame Details Sections     -->
<form name=PatCondPopup style="margin:0" method=post %PATWEB93.05.101
<input type=hidden name=nextpatn value="patweb93.pbl?reportno=05&template=001">
<input type=hidden name=admisdte value="%PATWEB93.05.402">
<input type=hidden name=admistme value="%PATWEB93.05.403">
<input type=hidden name=nextpatm value="1">

<table border=0 align=center width=100%>
<tr>
    <td class=DataLabel>Last Update</td>
    <td><input type=text class=readonly readonly size=20 name=patconup
               value="%PATWEB93.05.108"></td></tr>
<tr><td class=DataLabel>Condition </td>
    <td><select name=patconcd>
        <option value="   "></option>
        %PATWEB93.05.102
        </select>
    </td></tr> 
<tr><td class=DataLabel>Ambulatory Status</td>
    <td><select name=patconam>
        <option value="   "></option>
        %PATWEB93.05.107
        </select>
    </td></tr>
<tr><td class=DataLabel> Visitors Allowed ?</td>
    <td><input name=patconva type=checkbox value=1>                   
    </td></tr>
<tr><td class=DataLabel> Phone Calls Allowed ?</td>
    <td><input name=patconpa type=checkbox value=1>                   
    </td></tr>
<tr><td class=DataLabel>Discharge Preparation Status</td>
    <td><select name=pmswo007 title="Discharge Preparation Status">
        <option value="   "></option>
        %PATWEB93.05.214.2
        </select>
    </td></tr>
<tr><td class=DataLabel>Expected Discharge Date</td>
    <td><input type=text size=12 name=pmswo005 tabindex=31
         class="FutureDate" value="%PATWEB93.05.205"
         title="Expected Discharge Date">
        <img notab src="../images/DateLookup.gif" class=Icon
         onclick="DateLookupFrame(PatCondPopup.pmswo005);">
        Time
        <input type=text name=pmswo006 size=8 title="Expected Discharge Time"
         value="%PATWEB93.05.213">
        <img notab src="../images/DateTimeStamp.gif" class=Icon 
         onclick="SetCurrentDateTime(PatCondPopup.pmswo005,
                                     PatCondPopup.pmswo006);">
       <img notab src="../images/TimeLookup.gif" class=Icon
        onclick="TimeLookupFrame(PatCondPopup.pmswo006);">
    </td></tr>
<tr><td class=DataLabel> Comments</td>
    <td><input name=patconds size=35 maxlength=35 value="%PATWEB93.05.103"
         onblur="validateFreeTextFields(this);">
    </td></tr>
<tr><td align=center colspan=2>
<input type=button value="Update" class=button id=pat93sub
       onclick="tempDisable(this, 5);checkFields();">
<input type=button value="Cancel" class=button
       onclick="DFrameCloseRefresh();">
</td></tr>

</table>
</form>
 
<script type="text/javascript">
if ("%PATWEB93.05.106.1" == "1")
{
  document.PatCondPopup.patconva.checked="1";
}

if ("%PATWEB93.05.106.2" == "1")
{
  document.PatCondPopup.patconpa.checked="1";
}

function checkFields() {
  if ( validateMandatory(PatCondPopup) && validateExpDiscDate() ) {
    PatCondPopup.submit();
  }
}

function getSortWardCookie() {
  SortWardCookie=GetCookieData('SortWardCookie');
  SetCookie("SortWardCookie",'0');
  if (SortWardCookie=='1') {
    document.PatCondPopup.nextpatn.value=" ";    
  }
}

function validateExpDiscDate() {
  // Validates expected discharge date/time against admission date/time
  var admDate = SetDateYYYYMMDD(document.PatCondPopup.admisdte.value);
  var admTime = document.PatCondPopup.admistme.value;
  var disDate = SetDateYYYYMMDD(document.PatCondPopup.pmswo005.value);
  var disTime = document.PatCondPopup.pmswo006.value;

  if (disDate != "") {
    if (disDate < admDate) {
      // discharge date before admission date
      alert(document.PatCondPopup.pmswo005.title + 
            " must be after Admission Date");
      document.PatCondPopup.pmswo005.select();
      return false;
    }
    else if (disDate == admDate) {
      // same date; check the time...
      if (disTime != "") {
        if (disTime < admTime) {
          alert(document.PatCondPopup.pmswo006.title + 
                " must be after Admission Time");
          document.PatCondPopup.pmswo006.select();
          return false;
        }
      }
    }
  }

  return true;
}

function validateFreeTextFields(textfieldvar) {
  textfieldvar.value=textfieldvar.value.replace(/</g,"< ");
  textfieldvar.value=textfieldvar.value.replace(/"/g,"'");
  textfieldvar.value=textfieldvar.value.replace(/\\/g,"/");
}
</script>
