<meta name="TemplateVersion" content="V11.03.00">
<meta name="TemplateHome" content="standard">
<meta name="HelpFileName" content="NoContextSet.html">
<meta name="CrossBrowser" content="true">
<script type="text/javascript">
function init() {
  if  (!isWhitespace(parent.SelectCode.ptec0001.value)) {
      AddForm.ptec0001.value=parent.SelectCode.ptec0001.value;
  }

  if  (!isWhitespace(parent.SelectCode.ptec0002.value)) {
      AddForm.ptec0002.value=parent.SelectCode.ptec0002.value;
  }

  if  (!isWhitespace(parent.SelectCode.ptec0003.value)) {
      AddForm.ptec0003.value=parent.SelectCode.ptec0003.value;
      AddForm.mbscdesc.value=parent.SelectCode.mbscdesc.value;
  }
}
function validateFee() {
  if (isWhitespace(AddForm.ptec0007.value))
      AddForm.ptec0007.value=0.00;

  if (isWhitespace(AddForm.ptec0008.value))
      AddForm.ptec0008.value=0.00;
      
  if (isWhitespace(AddForm.ptec0009.value))
      AddForm.ptec0009.value=0.00;

  var1 = parseFloat(AddForm.ptec0007.value);
  var2 = parseFloat(AddForm.ptec0008.value);
  var3 = parseFloat(AddForm.ptec0009.value);

  if (var1 < var2)
  {
    alert("First Misc Fee % must be >= Second Misc Fee %");
    AddForm.ptec0007.focus();
    return false;
  }

  if (var1 < var3)
  {
    alert("First Misc Fee % must be >= Third Misc Fee %");
    AddForm.ptec0007.focus();
    return false;
  }

  if (var2 < var3)
  {
    alert("Second Misc Fee % must be >= Third Misc Fee %");
    AddForm.ptec0008.focus();
    return false;
  }
  return true;
}

function SubmitForm() {
  if ((validateMandatory(AddForm)) && (validateFee() == true))
     AddForm.submit();
}
//
</script>
%START.OF.PAGE
<body onload="PageLoad(event);">
<span class=DFrameTitleBar>
<img align="right" alt="Exit" class="MenuIcon"
 src="../images/ExitIcon.gif" onclick="DFrameExit();">
 MBS Item Explosion Charge Maintenance  
</span>
<form name=AddForm action=patweb61.pbl method=post>
<input type=hidden name=reportno value="02">
<input type=hidden name=template value="002">
<input type=hidden name=updttype value="A">
<input type=hidden id=multhosp name=multhosp value="   ">
<input type=hidden id=currdate name="currdate" value="%STANDARD.01.015">
<table width=95% cellpadding=1 cellspacing=1 border=0 align=center>

<table align=center width=95% cellpadding=1 cellspacing=1 border=0>
<tr><td class=DataLabel>%STANDARD.01.017.CL</td>
    <td class=DataField>
        <select name=ptec0001 class="SelectBig Mandatory" 
         title="%STANDARD.01.017.CL" >
        <option></option>
         %PATWEB61.02.004.9.1.10.2.X
        </select>
</td></tr>

<tr><td class=DataLabel>%STANDARD.01.017.A </td>
    <td class=DataField>
        <select name=ptec0002 class="SelectBig Mandatory" 
         title="%STANDARD.01.017.A " >
        <option></option>
         %PATWEB61.02.005.2
        </select>
</td></tr>
.
<tr><td class=DataLabel>MBS Code</td>
    <td><input type=text id=ptec0003 name=ptec0003 class="SelectBig Mandatory" size=9
         value="%PATWEB61.02.006.1" maxlength=9
         onblur='validateCode(4,ptec0003,mbscdesc)'
         title="MBS Code" >
        <input type=text readonly id=mbscdesc name=mbscdesc size=60
         value="%PATWEB61.02.006.0" class=Readonly
         title="MBS Code Description" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="MbsSearchFrame(ptec0003,mbscdesc,currdate)">
</td></tr>

<tr><td class=DataLabel>Misc Charge Code</td>
    <td><input type=text id=ptec0005 name=ptec0005 size=9 maxlength=9 
         class="SelectBig Mandatory"
         onblur='validateCode(40,ptec0005,miscdesc)'
         title="Misc Charge Code" >
        <input type=text readonly id=miscdesc name=miscdesc size=60 class=Readonly
         title="Misc Charge Code Description" tabindex=-1>
        <img src=../images/SearchIcon.gif class=Icon
         onclick="DefMiscChargeSearchFrame(ptec0005,miscdesc,multhosp);">
</td></tr>

<tr><td class=DataLabel> Operating Personnel</td>
    <td class=DataField>
        <select name=ptec0006 class="SelectBig Mandatory" 
         title="Operating Personnel" >
        <option></option>
         %PATWEB61.02.007.2
        </select>
</td></tr>

<tr><td class=DataLabel>1st Misc Fee % </td>
    <td class=DataField>
    <input type=text name=ptec0007 class=Number size=7 maxlength=7 
     min=0 max=100 title='1st Misc Fee%'
     onblur='RoundNumber(this,2);'>
</td></tr>

<tr><td class=DataLabel>2nd Misc Fee % </td>
    <td class=DataField>
    <input type=text name=ptec0008 class=Number size=7 maxlength=7 
     min=0 max=100 title='2nd Misc Fee%'
     onblur='RoundNumber(this,2);'>
</td></tr>

<tr><td class=DataLabel>3rd Misc Fee % </td>
    <td class=DataField>
    <input type=text name=ptec0009 class=Number size=7 maxlength=7
     min=0 max=100 title='3rd Misc Fee%'
     onblur='RoundNumber(this,2);'>
</td></tr>
 
<tr><td colspan=2 align=center> <br>
    <input type=button value="Add" class="button" 
     onclick="SubmitForm();">
    <input type=button value="Cancel" class="button" 
     onclick="DFrameCloseRefresh();">
</td></tr>

</table>
</td></tr>
</table>
</form>
